/* Other rules */

* {
  box-sizing: border-box;
}

/* HEADER--------------------------------------- */

.header .logo {
  width: 100px;
}

.header {
  height: 120px;
  border-bottom: 1px solid lightgrey;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 36px;
  padding: 0px 20px;
  height: 100%;
  max-width: 1280px;
  margin: 0px auto;
}

.header input {
  width: 632px;
  height: 39px;
  background-color: #f5f6f7;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.button-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-header button:hover {
  cursor: pointer;
}

.button-header button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #40aeb7;
}

/* HERO--------------------------------------- */

.hero {
  height: 200px;
  background-color: #40aeb7;
}

/* HOME--------------------------------------- */

.home-container {
  max-width: 1280px;
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-lastOffers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
}

.offerCard:hover {
  cursor: pointer;
}

.offerCard {
  text-decoration: none;
}

.owner {
  display: flex;
  justify-content: baseline;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.avatar {
  margin-left: 10px;
  border-radius: 50%;
  width: 25px;
  height: 23px;
}

.product_image img {
  width: 235px;
  height: 438px;
  object-fit: cover;
  object-position: center;
}

.product_image {
  margin-bottom: 10px;
}

.product_details {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.link-offer {
  text-decoration: none;
  color: #999;
}

/* OFFER PAGE--------------------------------------- */

.offer-body {
  background-color: #ebedee;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.offer-content img {
  width: 450px;
  height: 605px;
  object-fit: cover;
}

.offer-content {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 0px auto;
  padding: 40px;
}

.offer-product_card {
  background-color: white;
  width: 400px;
  height: 605px;
  padding: 40px;
}

.offer-product_price {
  font-size: 25px;
  margin-bottom: 30px;
}

.offer-product_details {
  display: flex;
  justify-content: space-between;
}

.divider {
  background-color: #ebedee;
  margin: 50px 0px;
  height: 1px;
}

.offer-infos {
  margin: 30px 0px;
  max-height: 150px;
}

.offer-product_name {
  margin: 10px 0px;
}

.offer-product_description {
  color: #666;
}

.offer-avatar > img {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin-right: 20px;
}

.offer-avatar {
  display: flex;
  align-items: center;
}

.offer-product_card button {
  background-color: #40aeb7;
  color: white;
  border-radius: 5px;
  width: 320px;
  height: 36px;
  margin-top: 40px;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

/* SIGNUP PAGE & LOGIN PAGE--------------------------------------- */

.signup-form-container,
.login-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 100px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-page form button:hover,
.signup-form-page form .newsletter input:hover,
.login-page form button:hover {
  cursor: pointer;
}
.signup-form-page form input:hover {
  cursor: text;
}

.signup-form-page h2,
.login-page h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.signup-form-page form,
.login-page form {
  width: 275px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-form-page form input,
.login-page form input {
  height: 38px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fcced3;
  font-size: 20px;
  padding: 1px 2px;
  color: #999;
  outline: none;
}

.newsletter {
  margin-bottom: 30px;
  color: #999;
  line-height: 18px;
}

.newsletter > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter > p {
  font-size: 12px;
}

.signup-form-page form button,
.login-page form button {
  background-color: #40aeb7;
  border: none;
  height: 45px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.account-existing,
.not-registered {
  color: #40aeb7;
  font-size: 12px;
}

.account-existing:hover,
.not-registered:hover {
  cursor: pointer;
}

.link-signup {
  text-decoration: none;
}
